*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow
}

.main-container{
    height:500px;
    width: 500px;
    background-color: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
}

.settings{
    display: flex;
    flex-direction: column;
    width: 500px;
}


.settings div{
    display: flex;
    margin-top: 10px;
}

.settings input{
    flex: 2;
}
